<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard Page</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <h2>Budget Comparison Graphic</h2><h5>value in (x10.000)</h5>
        <canvas id="ytdBudget" width="80" height="30"></canvas>
    </div>

    <div class="row">
        <h2>Budget Comparison Graphic Per Operator Company</h2>
        <h5>value in (x10.000)</h5>
        Filter : 
        <select kendo-drop-down-list  style="width: 100%;">
            <option>Company A</option>
            <option>Company B</option>
            <option>Company C</option>
            <option>Company D</option>
        </select>

        <canvas id="ytdOpBudget" width="80" height="30"></canvas>
    </div>
</div>

<script>
    $(document).ready(function(){
    
    function randomScalingFactor(){
        return Math.floor(Math.random() * 15000) + 1;  
    };

    var ctx = $("#ytdBudget");
    var ctx2 = $("#ytdOpBudget");

    var barChartData = {
            labels: ["2011", "2012", "2013", "2014", "2015", "2016", "2017"],
            datasets: [{
                label: 'Capital',
                backgroundColor: 'rgba(0, 0, 255, 0.9)',
                borderColor: 'rgba(0, 0, 255, 0.1)',
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: 'Non Capital',
                backgroundColor: 'rgba(0, 255, 0, 0.5)',
                borderColor: 'rgba(0, 255, 0, 0.1)',
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }]

        };

    var ytdBarChart = new Chart(ctx,{
        type : 'bar',
        data : barChartData,
        options : {}
    });

    var barChartData1 = {
            labels: ["2011", "2012", "2013", "2014", "2015", "2016", "2017"],
            datasets: [{
                label: 'Exploration',
                backgroundColor: 'rgba(0, 0, 255, 0.9)',
                borderColor: 'rgba(0, 0, 255, 0.1)',
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: 'Development',
                backgroundColor: 'rgba(0, 255, 0, 0.5)',
                borderColor: 'rgba(0, 255, 0, 0.1)',
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            },{
                label: 'Production',
                backgroundColor: 'rgba(255, 0, 0, 0.5)',
                borderColor: 'rgba(255, 0, 0, 0.1)',
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }]

        };


    var ytdOperatorBarChart = new Chart(ctx2,{
        type : 'bar',
        data : barChartData1,
        options : {}
    });
});
</script>
