<div ncy-breadcrumb></div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Drilling Expenditure Budget</h3>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        	<div class="panel-heading">Tangible Drilling</div>
            <div class="panel-body">
                
                <kendo-grid options="tangibleGridOptions">
                </kendo-grid>
            </div>    
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        	<div class="panel-heading">Intangible Drilling</div>
            <div class="panel-body">
                
                <kendo-grid options="intangibleGridOptions">
                </kendo-grid>

            </div>    
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputBudget">Budget Total</label>
                <button type="button" class="btn btn-primary btn-sm">
                        Preview Budget Schedule
                </button>
                <input type="text" class="form-control" placeholder="Total Inputted Budget" id="inputBudget">
            </div>

            <div class="form-group col-md-6">
                <label for="limitBudget">Budget Limit</label>
                <button type="button" class="btn btn-primary btn-sm">
                        View Linked AFEs <span class="badge badge-light">1</span>
                        <span class="sr-only">unread messages</span>
                </button>
                <input type="text" class="form-control" placeholder="$ 2.004.109" id="limitBudget" readonly>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Save</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Cancel</button>
      </form>