<div ncy-breadcrumb></div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Operation Expenditure Budget</h3>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        	<div class="panel-heading">Budget For {{budgetType}} :</div>
            <div class="panel-body">
                
                <kendo-grid options="budgetGridOptions">
                </kendo-grid>

            </div>    
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>