<div ncy-breadcrumb></div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">List of General Expense Budget Based on Expenditure Year</h1>
    </div>  
    
    	<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add New Period
		</button>

		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="wpnbPeriod">Budget Period</th>
				<th colspan="2" style="text-align:center;">Budget Type</th>
				<th> </th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rowCollection" st-select-row="row">
					<td>{{row.wpnbPeriod}}</td>
					<td><a ui-sref="dashboard.wpnb.budgetprojectform({productId:'{{row.wpnbProduct}}',budgetTypeId:'BS19',period:{{row.wpnbPeriod}}})">Exploration</a></td>
					<td><a ui-sref="dashboard.wpnb.budgetprojectform({productId:'{{row.wpnbProduct}}',budgetTypeId:'BS20',period:{{row.wpnbPeriod}}})">Development</a></td>
					<td><a ui-sref="dashboard.wpnb.budgetform({productId:'{{row.wpnbProduct}}',budgetTypeId:'R08',period:{{row.wpnbPeriod}}})">Production (General Admin)</a></td>
				</tr>
			</tbody>
		</table>
</div>
<div ui-view></div>