
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Budgeting Working Paper</h3>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div kendo-tab-strip k-content-urls="[ null, null]" >
                 <ul>
                    <li class="k-state-active">Executive</li>
                    <li>Corporate Service</li>
                    <li>Finance & Accounting</li>
                    <li>Human Resource</li>
                    <li>Supply Chain Management & Logistics (SCML)</li>
                    <li>General Affair</li>
                    <li>Health, Safety and Environment (HSE)</li>
                    <li>Information & Communication Technology (ICT)</li>
                    <li>Exploration & Development (E&D)</li>
                    <li>Drilling & Completion (D&C)</li>
                    <li>Production</li>
                    <li>Technical Support (TS)</li>
                    <li>Field General Admin (Field GA)</li>
                    <li>Project Management (PM)</li>
                    <li>Asset Management (AM)</li>
                    <li>TAC/KSO</li>
                  </ul>

                <div>

                    <kendo-grid options="budgetGridOptions">
                        <div k-detail-template>
                            <kendo-tabstrip>
                                <ul>
                                    <li>Details</li>
                                </ul>
                                <div>
                                    <ul>
                                        <!-- <li><label>Budget Details:</label> <input class="k-textbox" ng-model="dataItem.Country" /></li> -->
                                        <li><label>Remarks:</label> <textarea class="k-textbox" ng-model="dataItem.City" /></li>
                                    </ul>
                                </div>
                            </kendo-tabstrip>
                        </div>
                    </kendo-grid>

                    <!-- <div class="row-fluid">
                    <legend> Budget Proportion for Production Sharing Contract Configuration</legend>
                    <form class="form-horizontal">
                    <fieldset>
                         <div class="form-group">
                            <label class="col-md-4 control-label" for="pscNumber">PSC A Madura Strait</label>
                            <div class="col-md-4">
                                <input id="pscNumber" name="pscNumber" type="search" placeholder="Proportion" class="form-control input-md" required="">
                            </div>  
                        </div>              
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="pscNumber">PSC B Natuna </label>
                            <div class="col-md-4">
                                <input id="pscNumber" name="pscNumber" type="search" placeholder="Proportion" class="form-control input-md" required="">
                            </div>  
                        </div>
                    </fieldset>
                    </form>
                    </div> -->
                    
                </div>

                <div>

                    <kendo-grid options="budgetGridOptions">
                        <div k-detail-template>
                            <kendo-tabstrip>
                                <ul>
                                    <li>Details</li>
                                </ul>
                                <div>
                                    <ul>
                                        <li><label>Budget Details:</label> <input class="k-textbox" ng-model="dataItem.Country" /></li>
                                        <li><label>Remarks:</label> <input class="k-textbox" ng-model="dataItem.City" /></li>
                                    </ul>
                                </div>
                            </kendo-tabstrip>
                        </div>
                    </kendo-grid>
                    <div class="row-fluid">
                    <legend> Budget Proportion for Production Sharing Contract Configuration</legend>
                    <form class="form-horizontal">
                    <fieldset>
                         <div class="form-group">
                            <label class="col-md-4 control-label" for="pscNumber">PSC A Madura Strait</label>
                            <div class="col-md-4">
                                <input id="pscNumber" name="pscNumber" type="search" placeholder="Proportion" class="form-control input-md" required="">
                            </div>  
                        </div>              
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="pscNumber">PSC B Natuna </label>
                            <div class="col-md-4">
                                <input id="pscNumber" name="pscNumber" type="search" placeholder="Proportion" class="form-control input-md" required="">
                            </div>  
                        </div>
                    </fieldset>
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div ui-view></div>