
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Budgeting Working Paper</h3>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div kendo-tab-strip k-content-urls="[ null, null]" >
                 <ul>
                    <li class="k-state-active">Executive</li>
                    <li>Corporate Service</li>
                    <li>Finance & Accounting</li>
                    <li>Human Resource</li>
                    <li>Supply Chain Management & Logistics (SCML)</li>
                    <li>General Affair</li>
                    <li>Health, Safety and Environment (HSE)</li>
                    <li>Information & Communication Technology (ICT)</li>
                    <li>Exploration & Development (E&D)</li>
                    <li>Drilling & Completion (D&C)</li>
                    <li>Production</li>
                    <li>Technical Support (TS)</li>
                    <li>Field General Admin (Field GA)</li>
                    <li>Project Management (PM)</li>
                    <li>Asset Management (AM)</li>
                    <li>TAC/KSO</li>
                  </ul>

                <div>
                    <kendo-grid options="execOptions">
                        <div k-detail-template>
                            <kendo-tabstrip>
                                <ul>
                                    <li>Additional Notes</li>
                                </ul>
                                <div>
                                    <ul>
                                        <li><textarea class="k-textbox" style="width:100%" ng-model="dataItem.City" item-width="100%"></textarea></li>
                                    </ul>
                                </div>
                            </kendo-tabstrip>
                        </div>
                    </kendo-grid>
                    <div class="row" align="right">
                        <label for="total">Grand Total :</label>
                        <input name="total" id="total">
                    </div>
                </div>

                <div>
                    <kendo-grid options="budgetGridOptions">
                        <div k-detail-template>
                            <kendo-tabstrip>
                                <ul>
                                    <li>Details</li>
                                </ul>
                                <div>
                                    <ul>
                                        <li><label>Remarks:</label> <input class="k-textbox" ng-model="dataItem.City" /></li>
                                    </ul>
                                </div>
                            </kendo-tabstrip>
                        </div>
                    </kendo-grid>
                </div>
            </div>

        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div ui-view></div>