<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <!-- <li ui-sref-active="active">
                <a ui-sref="dashboard.pscform"><i class="fa fa-bar-chart-o fa-fw"></i> Prod. Sharing Contract <span></span></a>
            </li> -->
            <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)"><i class="fa fa-sitemap fa-fw"></i> Budgeting<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li>
                        <a ui-sref="dashboard.afeform"><i class="fa fa-edit fa-fw"></i> Manage Capital</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.wpnb"><i class="fa fa-edit fa-fw"></i> Manage Non Capital</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-gavel"></i> WP&B Preparation<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li>
                        <a ui-sref="dashboard.prewpnb">List All WP&B Budgeted</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.wpnbapproval">List All WP&B Pre Approved</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-sitemap fa-fw"></i> FQR Preparation<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li>
                        <a href="">Search based on WP&B</a>
                    </li>
                    <li>
                        <a href="">Search Based on Report Type</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Administration<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="dashboard.pscform"> <i class="glyphicon glyphicon-briefcase"></i> Private Sharing Contract</a>
                    </li>
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="dashboard.pscform"> <i class="glyphicon glyphicon-user"></i> User Management</a>
                    </li>
                    <li>
                        <a ui-sref="login">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



