<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Pre WP&B Discussion Result</h3>
    </div>  
</div>
<div class="row">
    <div class="col-lg-12">
        <label for="budgetType" class="required">Budget Type</label>
    </div>
    <div class="col-lg-12">
        <kendo-dropdownlist k-scope-field="budgetType" k-options="budgetTypeOptions" ng-model="budgetSelected"></kendo-dropdownlist>
    </div>  
</div>
<!-- <div class="row">
    <div class="col-lg-12">
        <label for="reviewTemplate">Download Pre WP&B Excel Template</label>
        (View)
    </div>
    <div class="col-lg-12">
        <button type="button" class="btn btn-sm btn-primary">
			<i class="glyphicon glyphicon-download">
			</i> Download Excel
		</button>
    </div>
</div> -->
<div class="row" ng-if="budgetType">
    <div class="col-lg-12">
        <label for="reviewType" class="required">Cost Center</label>
    </div>
    <div class="col-lg-12">
        <kendo-dropdownlist k-scope-field="reviewType" k-options="reviewTypeOptions" ng-model="reviewSelected"></kendo-dropdownlist>
    </div>
</div>
    <div class="row" ng-if="budgetType">
        <div class="col-lg-12">
            <label for="bsSelector" class="required">Revision List</label>
        </div>
        <div class="col-lg-12">
            <kendo-grid options="revisionGridOptions"></kendo-grid>
        </div>
</div>

<div ui-view></div>